@import '../../styles/_globals.scss';

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px;

  span {
    margin: 0 10px;
  }

  .hide-on-small {
    @include respond-to('medium') {
      display: none;
    }
  }

  select {
    padding: 8px 16px;
    border: 1px solid $color-primary;
    border-radius: 4px;
    font-size: 15px;
    background-color: #fff;
    color: $color-secondary;
    cursor: pointer;
    transition: border-color 0.3s ease;

    &:focus {
      outline: none;
      border-color: $color-secondary;
    }
  }

  .scroll-button {
    border: none;
    font-size: 2em;
    cursor: pointer;
    transition: color 0.3s ease;
    background-color: transparent;

    &:hover {
      color: lighten($color-primary, 10%);
    }

    &.disabled {
      color: lighten($color-secondary, 30%);
      cursor: not-allowed;
    }
  }
}

.right {
  width: 20px;
  transform: rotate(90deg);
  fill: $color-secondary !important;
}

.left {
  width: 20px;
  transform: rotate(-90deg);
  fill: red !important;
}
