@import '../../styles/_globals.scss';

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  span {
    margin: 0 10px;
  }

  input {
    width: 50px;
  }
}
