@import '../../../styles/_globals.scss';

.button {
  padding: 10px 20px;
  background-color: $color-primary;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: $color-secondary;
  }
}