@import '../../styles/_globals.scss';

.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__form {
    max-width: 50%;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    padding: 20px;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  &__error {
    color: red;
    margin-top: 10px;
  }

  &__register-link {
    margin-top: 20px;
    font-size: 14px;
    color: #888;

    a {
      color: #888;
      text-decoration: underline;
    }
  }

  .alert {
    color: red;
    margin-top: 10px;
  }
}

.register-page__register-link {
  color: $color-secondary;
  font-weight: bold;
  &:hover {
    color: $color-primary;
  }
}

.register-page__submit-button {
  margin-bottom: 20px;
  background-color: $color-secondary;
  color: #fff;
  padding: 12px;
  border-radius: 8px;

  &:hover {
    background-color: $color-primary;
    color: #fff;
  }
}

.register-page__login-text {
  font-size: 16px;
}

@include respond-to('medium') {
.register-page {
    &__title {
      font-size: 20px;
    }

    &__input,
    label {
      font-size: 14px;
    }

    &__register-link,
    .register-page__login-text {
      font-size: 12px;
    }

    &__submit-button {
      font-size: 14px;
      padding: 8px;
    }
  }
}



