@import '../../styles/_globals.scss';

.card {
  width: 100%;
  max-width: 250px;
  border-radius: 8px;
  margin: 0.5em;
  overflow: hidden;
  box-shadow: 4px 8px 8px 0 rgba(60,64,67,0.3), 0 1px 3px 1px rgba(60,64,67,0.15);
  transition: all 0.5s ease;

  &:hover {
    filter: brightness(1.2);
    box-shadow: 4px 8px 16px 0 rgba(60,64,67,0.3), 0 1px 3px 1px rgba(60,64,67,0.15);
  }
}

.title {
  background-color: $color-primary;
  color: $color-secondary;
  padding: 10px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content {
  padding: 10px;
  background-color: $color-primary;
}

.hero-card__image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.more-info {
  color: $color-primary !important;
  background-color: $color-secondary  !important;
  padding: 10px 16px  !important;
  border-radius: 4px  !important;
  cursor: pointer  !important;
  text-align: center !important;
  transition: background-color 0.3s ease !important;
  justify-content: center !important;
}

.more-info:hover {
  background-color: white !important;
  color: $color-secondary !important;
}

.hero-info__name {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0.75em;
}

.hero-info__description {
  margin-top: 0.5em;
  color: #ffffff !important;
}

.hero-card__info-comic-list {
  list-style: none;
  margin: 0.5em;
  color: white;
}

.hero-card__info-comic-list-item {
  cursor: pointer;
  color: $color-secondary;
  transition: color 0.3s ease;
}

.hero-card__info-comic-list-item:hover {
  color: #ffffff;
}

@include respond-to('medium') {
  .card {
    padding: 15px 30px;
  }

  .title {
    font-size: 0.8em;
  }
}
