@import '../../styles/_globals.scss';

.card {
  width: 250px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  margin: 0.5em;
  overflow: hidden;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 1px 3px 1px rgba(60,64,67,0.15);
}

.title {
  background-color: $color-primary;
  color: $color-secondary;
  padding: 10px;
  text-align: center;
}

.content {
  padding: 10px;
}

.comic-card__image {
  width: 100%;
  height: auto;
}

.more-info {
  color: $color-secondary;
  background-color: $color-primary;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.more-info:hover {
  background-color: $color-quaternary;
}

.comic-card__info-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0.75em;
}

.comic-card__info-description {
  margin-top: 0.5em;
}

.comic-card__info-hero-list {
  list-style: none;
  padding: 0;
}

.comic-card__info-hero-list-item {
  cursor: pointer;
  color: $color-secondary;
  transition: color 0.3s ease;
}

.comic-card__info-hero-list-item:hover {
  color: $color-quaternary;
}
