// Breakpoints
$breakpoints: (
        'extra-small': 480px, // Extra small screen
        'small': 576px, // Small screen
        'medium': 768px, // Medium screen
        'large': 992px, // Large screen
        'xlarge': 1200px, // Extra large screen
        'xxlarge': 1400px, // Double extra large screen
);

// Fonts
$font-primary: 'Montserrat', sans-serif; // Set primary font
$font-secondary: 'Shadows Into Light', cursive; // Set secondary font

// Colors
$color-primary: #181C25; // Set primary color
$color-secondary: #B12F56; // Set secondary color
$color-tertiary: #F7A072; // Set tertiary color
$color-quaternary: #00f7ff; // Set quaternary color
$color-quinary: #dee2e6; // Set quinary color
$color-primary-transparent: rgba(24, 28, 37, 0.8);
$color-secondary-transparent: rgba(177, 47, 86, 0.8);
$color-quinary-transparent: rgba(222, 226, 230, 0.5);
$color-quaternary-transparent: rgba(0, 247, 255, 0.5);



.hidden {
  display: none; // Class to hide elements
}

.totopbutton {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 50px;
  z-index: 9999;
  background-color: $color-secondary;
  transition: opacity 0.3s ease-in-out;
  box-shadow: 0 15px 16px rgba(0, 0, 0, 0.7);
}

.totopbutton img {
  max-width: 100%;
  max-height: 100%;
}
// Mixin for media query
@mixin respond-to($breakpoint) {
  // Check if the given breakpoint exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Retrieve the value of the breakpoint
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @media (max-width: $breakpoint-value) {
      @content;
    }
  }
    // Warn if the breakpoint doesn't exist
  @else {
    @warn "The breakpoint '#{$breakpoint}' could not be found. Please check if it is defined.";
  }
}
