@import './_globals.scss';

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  color: $color-primary;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @media (max-width: 768px) {
    zoom: 0.5;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
  color: $color-secondary;
}

a {
  text-decoration: none;
  color: inherit;
}
