@import '../../styles/_globals.scss';

.profile-page {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
    color: $color-primary;
    font-family: $font-primary;
}

.profile {
    border: 2px solid $color-secondary;
    border-radius: 8px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $color-primary-transparent;
    color: $color-quinary;
    margin-bottom: 2em;

    h1 {
        color: $color-quinary;
        width: 100%;
        text-align: center;
        padding: 0.5em 0;
        margin: 0;
        border-radius: 8px;
    }

    p {
        font-size: 1.2em;
        margin: 0.5em 0;
        span {
            font-weight: bold;
            color: $color-secondary;
        }
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $color-primary-transparent;
    border-radius: 8px;
    border: 2px solid $color-secondary;
}

.col {
    flex: 1 1 30%;
    margin: 1em;

    h1 {
        font-size: 2rem;
        text-align: center;
        color: $color-quinary;
        margin-bottom: 1rem;
    }
}

.comics-list, .heroes-list, .events-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.to-items {
    display: none;
}



@include respond-to('large') {
    .to-items {
        display: flex;
        justify-content: space-around;
        background-color: $color-primary-transparent;
        border-radius: 8px;
        margin-bottom: 1rem;
        border: 2px solid $color-secondary;

        h1{
            font-size: 1.5rem;
            color: $color-quinary;
            margin: 5px;
        }
    }

    .profile {
        width: 75%;

        h1{
            font-size: 1.5rem;
        }

        p {
            font-size: 1rem;
        }
    }
}

.totopbutton {
    background-color: $color-primary;
    &:hover{
        background-color: $color-primary-transparent;
        width: (+ 5%);
    }
}