@import '../styles/_globals.scss';

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: $color-primary;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-list-left,
.navbar-list-right {
    display: flex;
    list-style: none;
}

.navbar-item {
    margin: 0 1rem;
    //font-weight: 900;
    //font-size: 1.5rem;
}

.navbar-link {
    text-decoration: none;
    color:$color-secondary;
    transition: color 0.3s;

    &:hover {
        color: white;
    }

    &.active {
        color: #007bff;
    }
}

/*menu*/


