@import '../../styles/_globals.scss';

.footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  font-size: 10px;
  background-color: $color-primary;
  color: white;
}

.footer-left {
  text-align: left;
}

.footer-right {
  text-align: right;
}
