@import '../../styles/_globals.scss';

.comics-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    margin: 20px;
}

.comic-list-item {
    flex-basis: calc((100% / 5) - 1rem);
    margin-bottom: 1rem;
    margin-inline: 0.5rem;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.comics-search {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin: 20px auto;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.comics-search:focus {
    border-color: #ff00b7;
    color: #05335f;
    outline: none;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

.comic-title {
    font-family: $font-secondary;
    font-size: 50px;
    color: $color-secondary;
    text-align: center;
    text-transform: uppercase;
}