@import '../../styles/_globals.scss';

.heroes-page {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
  color: $color-primary;
  font-family: $font-primary;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-title img {
  width: 200px;
  height: auto;
  margin-bottom: 1rem;
}

.heroes-search {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid $color-quinary;
  border-radius: 4px;
  margin-bottom: 1em;
  color: $color-primary;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.heroes-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.hero-card-wrapper {
  flex: 1 1 auto;
  margin: 1em;
  min-width: 250px;
  max-width: 300px;
}
