@import '../../styles/_globals.scss';

.home {
  padding: 20px;
  color: $color-primary;
  font-family: $font-primary;

  &__section {
    margin-bottom: 2em;
    border: 1px solid $color-quinary;
    border-radius: 10px;
    padding: 20px;
    background-color: $color-quinary;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    font-size: 2em;
    margin-bottom: 1em;
    color: $color-primary;
  }

  &__link {
    color: $color-secondary;
    text-decoration: underline;
    font-size: 1.2em;
    &:hover {
      color: $color-quaternary;
    }
  }

  .carousel {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    gap: 20px;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      background: transparent;
    }

    > * {
      flex: 0 0 auto;
    }
  }
}

.error {
  color: red;
  text-align: center;
  font-family: $font-primary;

  &__title {
    font-size: 2em;
    margin-bottom: 1em;
  }

  &__message {
    margin-bottom: 1em;
  }

  &__details {
    font-size: 0.8em;
  }
}

.home__link{
  color: $color-secondary !important;
  font-family: $font-primary;
}

.home__section {
  margin-bottom: 20px;
}
